### Sectioning DataFrames:

Using the ful size DataFrame gave me a ton of crashing errors so

In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('./Directories/Train_finished.csv')

In [3]:
df.drop(['Sentece', 'Sentences_Fixed', 'Sentence_Characters'], axis=1, inplace=True)

In [4]:
df

,File,Character_Labels
0,/home/houston/Desktop/General_Assembly/CapSton...,"['G', 'O', 'O', 'D', ' ', 'M', 'E', 'N', ' ', ..."
1,/home/houston/Desktop/General_Assembly/CapSton...,"['A', 'N', 'D', ' ', 'L', 'I', 'V', 'E', 'D', ..."
2,/home/houston/Desktop/General_Assembly/CapSton...,"['W', 'I', 'T', 'H', ' ', 'T', 'H', 'E', ' ', ..."
3,/home/houston/Desktop/General_Assembly/CapSton...,"['A', ' ', 'T', 'A', 'L', 'L', ' ', 'S', 'L', ..."
4,/home/houston/Desktop/General_Assembly/CapSton...,"['R', 'O', 'V', 'E', 'D', ' ', 'O', 'V', 'E', ..."
...,...,...
257854,/home/houston/Desktop/General_Assembly/CapSton...,"['I', ' ', 'S', 'U', 'P', 'P', 'O', 'S', 'E', ..."
257855,/home/houston/Desktop/General_Assembly/CapSton...,"['I', ' ', 'F', 'E', 'E', 'L', ' ', 'C', 'O', ..."
257856,/home/houston/Desktop/General_Assembly/CapSton...,"['A', 'N', 'D', ' ', 'I', ' ', 'H', 'A', 'V', ..."
257857,/home/houston/Desktop/General_Assembly/CapSton...,"['I', ' ', 'A', 'M', ' ', 'N', 'O', 'W', ' ', ..."
257858,/home/houston/Desktop/General_Assembly/CapSton...,"['I', ' ', 'B', 'E', 'A', 'R', ' ', 'I', 'N', ..."

In [5]:



for i in range(1008):
    
    df_temp = df[i*256:(i+1)*256]
    df_temp.to_csv(f'./Directories/Train/Train{i}_pre.csv', index=False)

In [6]:
df = pd.read_csv('./Directories/Test_finished.csv')
df.drop(['Sentece', 'Sentences_Fixed', 'Sentence_Characters'], axis=1, inplace=True)
df

,File,Character_Labels
0,/home/houston/Desktop/General_Assembly/CapSton...,"['T', 'H', 'E', ' ', 'A', 'N', 'A', 'L', 'Y', ..."
1,/home/houston/Desktop/General_Assembly/CapSton...,"['W', 'H', 'A', 'T', ' ', 'I', 'S', ' ', 'C', ..."
2,/home/houston/Desktop/General_Assembly/CapSton...,"['W', 'H', 'E', 'T', 'H', 'E', 'R', ' ', 'O', ..."
3,/home/houston/Desktop/General_Assembly/CapSton...,"['A', 'N', 'D', ' ', 'W', 'H', 'A', 'T', ' ', ..."
4,/home/houston/Desktop/General_Assembly/CapSton...,"['T', 'H', 'E', 'R', 'E', ' ', 'I', 'S', ' ', ..."
...,...,...
5554,/home/houston/Desktop/General_Assembly/CapSton...,"['T', 'H', 'E', 'R', 'E', ' ', 'W', 'A', 'S', ..."
5555,/home/houston/Desktop/General_Assembly/CapSton...,"['""', 'I', 'T', ""'"", 'S', ' ', 'I', 'T', ""'"", ..."
5556,/home/houston/Desktop/General_Assembly/CapSton...,"['I', ' ', 'W', 'E', 'N', 'T', ' ', 'O', 'V', ..."
5557,/home/houston/Desktop/General_Assembly/CapSton...,"['T', 'H', 'A', 'T', ' ', 'W', 'A', 'S', ' ', ..."
5558,/home/houston/Desktop/General_Assembly/CapSton...,"['N', 'O', 'W', ' ', 'H', 'A', 'R', 'R', 'Y', ..."

In [7]:

for i in range(22):
    
    df_temp = df[i*256:(i+1)*256]
    df_temp.to_csv(f'./Directories/Test/Test{i}_pre.csv', index=False)

In [8]:
df = pd.read_csv('./Directories/Dev_finished.csv')
df.drop(['Sentece', 'Sentences_Fixed', 'Sentence_Characters'], axis=1, inplace=True)
df

,File,Character_Labels
0,/home/houston/Desktop/General_Assembly/CapSton...,"['A', ' ', 'M', 'A', 'N', ' ', 'S', 'A', 'I', ..."
1,/home/houston/Desktop/General_Assembly/CapSton...,"['S', 'W', 'E', 'A', 'T', ' ', 'C', 'O', 'V', ..."
2,/home/houston/Desktop/General_Assembly/CapSton...,"['T', 'H', 'E', ' ', 'C', 'U', 'T', ' ', 'O', ..."
3,/home/houston/Desktop/General_Assembly/CapSton...,"['H', 'I', 'S', ' ', 'I', 'N', 'S', 'T', 'A', ..."
4,/home/houston/Desktop/General_Assembly/CapSton...,"['O', 'N', 'E', ' ', 'M', 'I', 'N', 'U', 'T', ..."
...,...,...
5562,/home/houston/Desktop/General_Assembly/CapSton...,"['W', 'I', 'L', 'L', 'I', 'A', 'M', 'S', ' ', ..."
5563,/home/houston/Desktop/General_Assembly/CapSton...,"['T', 'H', 'E', ' ', 'B', 'I', 'L', 'G', 'E', ..."
5564,/home/houston/Desktop/General_Assembly/CapSton...,"['O', 'N', ' ', 'O', 'N', 'E', ' ', 'O', 'C', ..."
5565,/home/houston/Desktop/General_Assembly/CapSton...,"['T', 'H', 'E', ' ', 'A', 'F', 'T', 'E', 'R', ..."
5566,/home/houston/Desktop/General_Assembly/CapSton...,"['O', 'C', 'C', 'A', 'S', 'I', 'O', 'N', 'A', ..."

In [9]:
for i in range(22):
    
    df_temp = df[i*256:(i+1)*256]
    df_temp.to_csv(f'./Directories/Dev/Dev{i}_pre.csv', index=False)